@import url(//db.onlinewebfonts.com/c/ae238c3ee498c52a23aab0d9f5e94d6b?family=dana-fanum);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Dana-FaNum";
}

.head {
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  justify-content: flex-start;
  padding: 16px 24px 16px 24px;
  align-items: center;
  gap: 80px;
}
.container {
  padding: 0 24px;
  margin-bottom: 48px;
}
.head-text {
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}
.avatar {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 12px;
  background-image: url(assets/collection.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#ava {
  width: 96px;
  height: 96px;
}
.name {
  font-weight: 600;
  font-size: 16px;
  color: #101010;
  text-transform: capitalize;
  margin-top: 16px;
}
.location {
  text-transform: capitalize;
  color: #adafae;
  font-weight: 500;
  font-size: 14px;
}
.information {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.information > img {
  width: 20px;
  height: 20.65px;
}
.info {
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: #adafae;
  margin-top: 8px;
}
.info-cuonter {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  color: #101010;
}
.informations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 43px 17px 43px;
}
.title {
  padding: 16px 0;
  border-top: 1px solid #f3f3f3;
}
.main-title {
  font-weight: 600;
  font-size: 14px;
  color: #101010;
}
.sub-title {
  font-weight: 400;
  font-size: 12px;
  color: #adafae;
}
.gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 13px;
  row-gap: 16px;
}
.Description {
  font-weight: 500;
  font-size: 12px;
  color: #878787;
  letter-spacing: -0.02em;
  line-height: 160%;
  margin-top: 4px;
  margin-bottom: 24px;
}
.Description > a {
  text-decoration: none;
  color: #ff4332;
  margin-left: 1px;
}
.titles {
  color: #101010;
  font-weight: 600;
  font-size: 14px;
  margin-top: 24px;
}
.title2 {
  margin-bottom: 14px;
}
.map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 2px;
}
.addres {
  display: flex;
  gap: 8px;
}
.addres > p {
  font-weight: 400;
  font-size: 14px;
  color: #878787;
  text-transform: capitalize;
}
.feacher-head {
  margin-top: 26px;
  border-bottom: 1px solid #f3f3f3;
}
.Places-head {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 15px;
}
.Trending {
  box-shadow: 4px 4px 4px rgba(18, 18, 18, 0.06);
  border-radius: 12px;
  width: 327px;
  margin-bottom: 24px;
}
.Trending3 {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px 12px 12px;
  border-top: 2px solid #f3f3f3;
}
.Trending1 {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  margin: 12px 12px 0 12px;
}
.Trending2 {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #878787;
  gap: 8px;
  margin-top: 6px;
  margin-left: 12px;
  margin-bottom: 12px;
}
#Read-More {
  color: #101010;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #101010;
  border-radius: 8px;
  background: #ffffff;
  font-family: "Dana-FaNum";
  width: 100%;
}
#Contact {
  font-family: "Dana-FaNum";
  width: 327px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 11px;
  background: #101010;
  border-radius: 8px;
  color: #ffffff;
  border: 0;
  margin: 16px 24px;
}
.Contactbtn{
  border-top: 1px solid #F3F3F3;
}
